PORT: 3075
RAW_DOC_PATH: ./data/Product Disclosure Statement (PDS).docx
DATABASE_PATH: ./data/app.db
# openssl rand -hex 32
ADMIN_PASSWORD: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SESSION_SECRET: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
