/* src/custom.css */

.sidebar-scrollbox::before {
    content: "";
    display: block;
    /* background-image: url("../logo.png"); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 80%;
    height: 100px;
    margin: 20px auto;
}
